---
layout: bootcamp
root: .
venue: University of Washington
address: HUB 145, 4001 Stevens Way NE and OUG 220, 4060 George Washington Ln NE, Seattle
country: United-States
humandate: Mar 17-18, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-03-17
enddate: 2014-03-18
latlng: 47.655335,-122.303519
registration: restricted
eventbrite: 10299635487
instructor: ["Bernhard Konrad", "Jenny Bryan", "Tommy Guy", "Christina Koch", "Lynne Williams", "Trevor King"]
contact: admin@software-carpentry.org
---
{% include bootcamps/eventbrite.html %}
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Syllabi</h2>https://github.com/LJWilliams/2014-03-17-uw/graphs

<div class="row-fluid">
  <div class="span6">
    <h3>Python</h3>
    OUG 220<br>
    4060 George Washington Ln NE<br>
    <a href="http://ljwilliams.github.io/2014-03-17-uw/lessons/python/"> Python syllabus</a>
  </div>
  <div class="span6">
    <h3>R</h3>
    HUB 145<br>
    4001 Stevens Way NE<br>
    <a href="http://ljwilliams.github.io/2014-03-17-uw/lessons/r/intermediate/">R syllabus</a>
  </div>
</div>

<h2>Schedule</h2>
Schedule is subject to change



<h3>March 17</h3>
<table border="2" bordercolor="#000000" style="background-color:#FFFFFF" width="100%" cellpadding="3" cellspacing="3">
<tr>
  <th>Time</th>
  <th>Python</th>
  <th>R</th>
</tr>
<tr>
  <td>8:30 - 9:00</td>
  <td>Setup help</td>
  <td>Setup help</td>
</tr>
<tr>
  <td>9:00 -  9:15</td>
  <td>Overview and introduction</td>
  <td>Overview and introduction</td>
</tr>
<tr>
  <td>9:15 - 10:45</td>
  <td>Navigating in the shell</td>
  <td>R basics</td>
</tr>
<tr>
  <td>10:45 - 11:00</td>
  <td>Break</td>
  <td>Break</td>
</tr>
<tr>
  <td>11:00 - 12:15</td>
  <td>Shell scripts and automation</td>
  <td>Care and feeding of R objects</td>
</tr>
<tr>
  <td>12:15 - 1:15</td>
  <td>Lunch</td>
  <td>Lunch</td>
</tr>
<tr>
  <td>1:15 -  2:45</td>
  <td>Version Control</td>
  <td>Version Control</td>
</tr>
<tr>
  <td>2:45 - 3:00</td>
  <td>Break</td>
  <td>Break</td>
</tr>
<tr>
  <td>3:00 -  4:30</td>
  <td>Version Control (remote)</td>
  <td>Data Visualization</td>
</tr>
</table>


<h3>March 18</h3>
<table border="2" bordercolor="#000000" style="background-color:#FFFFFF" width="100%" cellpadding="3" cellspacing="3">
<tr>
  <th>Time</th>
  <th>Python</th>
  <th>R</th>
</tr>
<tr>
  <td>8:30 - 9:00</td>
  <td>Setup help</td>
  <td>Setup help</td>
</tr>
<tr>
  <td>9:00 - 10:30</td>
  <td>Numpy, variables, slicing</td>
  <td>File organization and debugging</td>
</tr>
<tr>
  <td>10:30 - 11:45</td>
  <td>Break</td>
  <td>Break</td>
</tr>
<tr>
  <td>11:45 - 12:15</td>
  <td>Python flow control; Python functions</td>
  <td>The shell and remote version control</td>
</tr>
<tr>
  <td>12:15 - 1:15</td>
  <td>Lunch</td>
  <td>Lunch</td>
</tr>
<tr>
  <td>1:15 -  2:30</td>
  <td>Testing and command line arguments</td>
  <td>Data aggregation with R</td>
</tr>
<tr>
  <td>2:30 - 2:45</td>
  <td>Break</td>
  <td>Break</td>
</tr>
<tr>
  <td>2:45 -  4:25</td>
  <td>Intro to Databases</td>
  <td>Automation and pipelines</td>
</tr>
<tr>
  <td>4:25 - 4:30</td>
  <td>Wrap-up</td>
  <td>Wrap-up</td>
</tr>
</table>




<h2>Setup</h2>

<p>For the <b>Python</b> class, please install the Bash shell, a text editor, Git, Python, and SQLite.</p>

<p>For the <b>R</b> class, please install the Bash shell, Git, R, and RStudio.</p>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
        {% include setup/linux-bash.html %}
        {% include setup/macosx-bash.html %}
        {% include setup/windows-bash.html %}
    {% include setup/overview-editor.html %}
        {% include setup/linux-editor.html %}
        {% include setup/macosx-editor.html %}
        {% include setup/windows-editor.html %}
    {% include setup/overview-git.html %}
        {% include setup/linux-git.html %}
        {% include setup/macosx-git.html %}
        {% include setup/windows-git.html %}
    {% include setup/overview-r.html %}
  </div>
  <div class="span6">
    {% include setup/overview-python.html %}
        {% include setup/linux-python.html %}
        {% include setup/macosx-python.html %}
        {% include setup/windows-python.html %} 
    {% include setup/overview-sqlite.html %}
        {% include setup/linux-sqlite.html %}     
        {% include setup/macosx-sqlite.html %} 
        {% include setup/windows-sqlite.html %}   
  </div>
</div>

<hr/>

<h2>Topics</h2>

<div class="row-fluid">
  <div class="span6">
    <h3><a href="lessons/swc-shell/tutorial.html">The Unix Shell</a></h3>
    <ul>
      <li>{% include guide-shell/intro/title.md %}</li>
      <li>{% include guide-shell/filedir/title.md %}</li>
      <li>{% include guide-shell/create/title.md %}</li>
      <li>{% include guide-shell/pipefilter/title.md %}</li>
      <li>{% include guide-shell/loop/title.md %}</li>
      <li>{% include guide-shell/scripts/title.md %}</li>
      <li>{% include guide-shell/find/title.md %}</li>
    </ul>
    <h3><a href="lessons/swc-python/tutorial.html">Python</a></h3>
    <ul>
    <li>{% include guide-pyblocks/types/title.md %}</li>
    <li>{% include guide-pyblocks/index/title.md %}</li>
    <li>{% include guide-pyblocks/basic/title.md %}</li>
    <li>{% include guide-pyblocks/forloop/title.md %}</li>
    <li>{% include guide-pyblocks/lib/title.md %}</li>
    <li>{% include guide-pyblocks/logic/title.md %}</li>
    <li>{% include guide-pyblocks/design/title.md %}</li>
    </ul>
  </div>
  <div class="span6">
    <h3><a href="lessons/swc-db/tutorial.html">Databases</a></h3>
    <ul>
      <li>{% include guide-db/select/title.md %}</li>
      <li>{% include guide-db/distinct/title.md %}</li>
      <li>{% include guide-db/filter/title.md %}</li>
      <li>{% include guide-db/calc/title.md %}</li>
      <li>{% include guide-db/sort/title.md %}</li>
      <li>{% include guide-db/null/title.md %}</li>
      <li>{% include guide-db/aggregate/title.md %}</li>
      <li>{% include guide-db/grouping/title.md %}</li>
      <li>{% include guide-db/join/title.md %}</li>
      <li>{% include guide-db/create/title.md %}</li>
      <li>{% include guide-db/transactions/title.md %}</li>
      <li>{% include guide-db/programming/title.md %}</li>
    </ul>
  </div>
</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
  <li><a href="{{page.root}}/lessons/ref/sql.html">SQL</a></li>
</ul>
