<div id="setup-windows-sqlite" class="setup setup-linux setup-sqlite">
  <h4>Linux / SQLite</h4>
  <ul>
    <li>
      Download SQLite using your distribution package manager.
      <ul>
        <li> Debian: sqlite3 (<a href="https://packages.debian.org/stable/sqlite3">https://packages.debian.org/stable/sqlite3</a>) </li>
        <li> Fedora: sqlite (<a href="https://apps.fedoraproject.org/packages/sqlite">https://apps.fedoraproject.org/packages/sqlit</a>) </li>
        <li> Gentoo: dev-db/sqlite (<a href="http://gpo.zugaina.org/dev-db/sqlite">http://gpo.zugaina.org/dev-db/sqlite</a>) </li>
     </li>
      </ul> 
    <li>
     Or download <code>sqlite-shell-linux-x86-SOMENUMBERS.zip</code>
      from the <a href="http://www.sqlite.org/download.html">SQLite download page</a>.
    </li>
    <li>
      Unzip the file.
    </li>
  </ul>
</div>
